name: Create GitHub release (examples repo)

on:
  push:
    tags:
      - v*

jobs:
  create_release:
    runs-on: ubuntu-22.04
    permissions:
      contents: write # create the GH release
    steps:
      - uses: actions/checkout@v4
      - name: Set env
        run: |
          echo "RELEASE_VERSION=${GITHUB_REF_NAME#v}" >> $GITHUB_ENV
          echo "TAG=${GITHUB_REF_NAME}" >> $GITHUB_ENV
      - name: Create release
        uses: ncipollo/release-action@v1
        with:
          body: |
            Examples for [bpmn-visualization@${{ env.RELEASE_VERSION }}](https://github.com/process-analytics/bpmn-visualization-js/releases/tag/${{ env.TAG }}).
            Live examples are available for [${{ env.RELEASE_VERSION }}](https://cdn.statically.io/gh/process-analytics/bpmn-visualization-examples/${{ env.TAG }}/examples/index.html).
          draft: true
          generateReleaseNotes: true
          name: ${{ env.RELEASE_VERSION }}
