name: Delete artifacts of workflow run

on:
  workflow_dispatch:
    inputs:
      pr-number:
        description: 'Simulate a PR number, to use in content of the temp artifacts'
        required: true
        default: '648'

jobs:
  create_artifacts:
    runs-on: ${{ vars.RUNNER_UBUNTU }}
    steps:
      - name: Build fake artifact
        env:
          PR_NUMBER: ${{ inputs.pr-number }}
        run: |
          mkdir site
          echo "This is a preview site for <b>PR #${PR_NUMBER}</b>" > site/file1.html
          echo "This is a another preview site for <b>PR #${PR_NUMBER}</b>" > site/file2.html
      - uses: actions/upload-artifact@v6
        with:
          name: artifact-1
          path: site/file1.html
          if-no-files-found: error
      - uses: actions/upload-artifact@v6
        with:
          name: artifact-2
          path: site/file2.html
          if-no-files-found: error


  delete:  
    runs-on: ${{ vars.RUNNER_UBUNTU }}
    needs: create_artifacts
    permissions: 
      # to delete artifacts
      actions: write
    steps:
      - uses: geekyeggo/delete-artifact@v5
        name: Clean up temp stored artifacts
        with:
            name: '*'
