name: Fill GitHub Draft Release

on:
  workflow_dispatch:
  push:
    branches:
      - master

permissions:
  # To create or update releases
  # https://docs.github.com/en/rest/reference/permissions-required-for-github-apps#permission-on-contents
  contents: write

jobs:
  update_release_draft:
    runs-on: ${{ vars.RUNNER_UBUNTU }}
    steps:
      # Drafts your next Release notes as Pull Requests are merged into "main"
      # The configuration file is shared in https://github.com/process-analytics/.github/
      - uses: release-drafter/release-drafter@v6.2.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
