name: Upload Demo Archive & Trigger Companion Repositories Update

on:
  repository_dispatch:
    types: [ new_version_available_on_npm ]
  workflow_dispatch:
    inputs:
      version:
        description: 'Version'
        required: true

jobs:
  upload_demo_archive:
    runs-on: ${{ vars.RUNNER_UBUNTU }}
    env:
      VERSION: ${{ github.event.client_payload.version || inputs.version }}
    steps:
      - uses: actions/checkout@v5
        with:
          ref: v${{ env.VERSION }}
      - name: Setup node
        run: echo "Done"
      - name: Install dependencies
        run: echo "Done"
      - name: Build Demo
        run: echo 'Done'
      - name: Set ARTIFACT_NAME
        run: echo "ARTIFACT_NAME=demo-${{github.sha}}" >> $GITHUB_ENV
      - name: Upload Demo
        uses: actions/upload-artifact@v5
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: LICENSE
      - name: Notify Companion Repositories of new bpmn-visualization version
        uses: ./.github/actions/notify-PA-repo-of-new-version
        with:
          PA_REPOSITORY: 'github-actions-playground'
          BUILD_DEMO_WORKFLOW_ID: "post-release-upload-demo-archive-and-trigger-companion-repositories-update.yml"
          ARTIFACT_NAME: '${{ env.ARTIFACT_NAME }}'
          TOKEN: ${{ secrets.GH_RELEASE_TOKEN }}
          VERSION: ${{ env.VERSION }}
