name: Upload Demo Archive & Trigger Companion Repositories Update

on:
  push:
    tags:
      -  v*

jobs:
  upload_demo_archive:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - name: Setup node
        run: echo "Done"
      - name: Install dependencies
        run: echo "Done"
      - name: Build Demo
        run: echo ${{ steps.get_version.outputs.VERSION }}
      - name: Upload Demo
        uses: actions/upload-artifact@v3
        with:
          name: demo-${{github.sha}}
          path: LICENSE
      - name: Notify Companion Repositories of new BPMN visualization version
        uses: ./.github/actions/notify-PA-repo-of-new-version
        with:
          PA_REPOSITORY: 'github-actions-playground'
          BUILD_DEMO_WORKFLOW_ID: "post-release-upload-demo-archive-and-trigger-companion-repositories-update.yml"
          TOKEN: ${{ secrets.GH_RELEASE_TOKEN }}
