# This workflow includes attachments specific after a new version tag is pushed in the main repository.
# On 2026-01-23, this is not something that exists in the actual examples repository, but it is prepared for future use.
# This is also done to validate the implementation proposed in https://github.com/maxGraph/maxGraph/pull/996 which could serve as a model for other repositories.
name: Create GitHub release (examples repo)

on:
  push:
    tags:
      - v*

jobs:
  compute_environment_variables:
    runs-on: ubuntu-24.04
    permissions: { }
    outputs:
      version: ${{ steps.set_version.outputs.version }}
    steps:
      - name: Set version
        id: set_version
        run: |
          VERSION=${GITHUB_REF_NAME#v}
          echo "version=$VERSION" >> $GITHUB_OUTPUT

  build_examples:
    needs: compute_environment_variables
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Upload fake files to simulate built examples
        uses: actions/upload-artifact@v7
        with:
          name: 'maxgraph_${{ needs.compute_environment_variables.outputs.version }}_examples.zip'
          path: |
            DESCRIPTION
            LICENSE
            tsconfig.json


  create_release:
    needs: [ compute_environment_variables, build_examples ]
    runs-on: ubuntu-24.04
    permissions:
      contents: write # create the GH release
    steps:
      - name: Set env
        run: |
          echo "VERSION=${{ needs.compute_environment_variables.outputs.version }}" >> $GITHUB_ENV
          echo "TAG=${GITHUB_REF_NAME}" >> $GITHUB_ENV

      - name: Download examples artifact
        uses: actions/download-artifact@v8
        with:
          name: maxgraph_${{ env.VERSION }}_examples.zip
          path: artifacts/examples

      - name: Create zip files for release
        run: |
          cd artifacts/examples
          zip -r ../../maxgraph_${{ env.VERSION }}_examples.zip .

      - name: Create release
        uses: ncipollo/release-action@v1
        with:
          body: |
            Examples for [bpmn-visualization@${{ env.VERSION }}](https://github.com/process-analytics/bpmn-visualization-js/releases/tag/${{ env.TAG }}).
            Live examples are available for [${{ env.VERSION }}](https://cdn.statically.io/gh/process-analytics/bpmn-visualization-examples/${{ env.TAG }}/examples/index.html).
          draft: true # Generate here in draft to not mess with the release-drafter workflow, this is not required in the targeted repository
          generateReleaseNotes: true
          name: ${{ env.VERSION }}
          artifacts: |
            maxgraph_${{ env.VERSION }}_examples.zip
