name: Release of bpmn-visualization

on:
  workflow_dispatch:
    inputs:
      type:
        description: 'New version type [new-version | major | minor | patch]'
        required: true
        default: 'patch'
jobs:
  bumpVersion:
    runs-on: ${{ vars.RUNNER_UBUNTU }}
    steps:
      - run: |
          echo "New version type: ${{ github.event.inputs.type }}"
      - name: Branch Protection Bot - Temporarily disable "include administrators" branch protection
        uses: benjefferies/branch-protection-bot@1.0.7
        if: always()
        with:
          access_token: ${{ secrets.GH_RELEASE_TOKEN }}
          enforce_admins: false
          branch: master

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: Setup checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GH_RELEASE_TOKEN }}
      - name: Config git
        run: |
          git config --local user.email "${{ vars.PA_BOT_EMAIL }}"
          git config --local user.name "${{ vars.PA_BOT_NAME }}"
          git config pull.rebase true
      - name: Checkout master
        run: git checkout master && git pull --tags
      - name: Bump Version
        run: |
          npm version ${{ github.event.inputs.type }} --message "chore(release): %s"
      - name: Verify commit
        run: git log -1
#      - name: Push Version
#        run: git push && git push --tags

      - name: Branch Protection Bot - Reenable "include administrators" branch protection
        uses: benjefferies/branch-protection-bot@1.0.7
        if: always()  # Force to always run this step to ensure "include administrators" is always turned back on
        with:
          access_token: ${{ secrets.GH_RELEASE_TOKEN }}
          enforce_admins: true
          branch: master
