name: Release of bpmn-visualization

on:
  workflow_dispatch:
    inputs:
      type:
        description: 'New version type [new-version | major | minor | patch]'
        required: true
        default: 'patch'
jobs:
  bumpVersion:
    runs-on: ${{ vars.RUNNER_UBUNTU }}
    steps:
      - run: |
          echo "New version type: ${{ inputs.type }}"
      - name: Setup node
        uses: actions/setup-node@v5
        with:
          node-version: '16'
      - name: Setup checkout
        uses: actions/checkout@v5
        with:
          token: ${{ secrets.GH_RELEASE_TOKEN }}
      - name: Config git
        run: |
          git config --local user.email "${{ vars.PA_BOT_EMAIL }}"
          git config --local user.name "${{ vars.PA_BOT_NAME }}"
          git config pull.rebase true
      - name: Checkout master
        run: git checkout master && git pull --tags
      - name: Bump Version
        run: |
          npm version ${{ inputs.type }} --message "chore(release): %s"
      - name: Push Version
        run: git push && git push --tags
