name: Surge Preview for Pull Request

on:
  pull_request:
    # To manage 'surge-preview' action teardown, add default event types + closed event type
    types: [opened, synchronize, reopened, closed]
    branches:
      - master

permissions:
  pull-requests: write

jobs:
  # see also ./execute-depending-on-secrets-availability.yml
  check_secrets:
    runs-on: ubuntu-20.04
    outputs:
      is_SURGE_TOKEN_set: ${{ steps.secret_availability.outputs.is_SURGE_TOKEN_set }}
    steps:
      - name: Compute secrets availability
        id: secret_availability
        env:
          SURGE_TOKEN: ${{ secrets.SURGE_TOKEN }}
        run: |
          echo "is_SURGE_TOKEN_set: ${{ env.SURGE_TOKEN != '' }}"
          echo "::set-output name=is_SURGE_TOKEN_set::${{ env.SURGE_TOKEN != '' }}"

  demo_preview:
    needs: [check_secrets]
    if: needs.check_secrets.outputs.is_SURGE_TOKEN_set == 'true'
    runs-on: ubuntu-20.04
    steps:
      - name: Publish Demo preview
        id: publish_demo_preview
        uses: afc163/surge-preview@v1
        env:
          PR_NUMBER: ${{ github.event.number }}
        with:
          surge_token: ${{ secrets.SURGE_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          dist: site
          failOnError: true
          teardown: 'true'
          build: |
            mkdir site
            echo "This is a preview site for <b>PR #${PR_NUMBER}</b>" > site/index.html
