name: Surge PR Preview - Build Stage

on:
  pull_request:
    # keep in sync with the teardown stage
    paths:
      - '.github/workflows/surge-pr-fork-01-build.yml'
      - '.github/workflows/surge-pr-fork-02-deploy.yml'
      - 'public/surge/**/*'

jobs:
  build-preview:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6
      - name: Build fake demo
        if: ${{ github.event.action != 'closed' }}
        env:
          PR_NUMBER: ${{ github.event.pull_request.number }}
        run: |
          mkdir site
          cp -r public/surge/* site/
          sed -i "s/@PR_NUMBER@/${PR_NUMBER}/g" site/index.html

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: pr-build-dist # must be kept in sync with the artifact name downloaded in the deploy stage
          path: site/
