name: Workflow Dispatch branch detection
on:
  workflow_dispatch:

jobs:
  detection:
    runs-on: ubuntu-20.04
    steps:
      - name: Get ref by env var
        run: echo "Ref $GITHUB_REF"
      - name: Get event_name by env var
        run: echo "Event name $GITHUB_EVENT_NAME"
      - name: Get event.ref
        run: echo "Event ref ${{ github.event.ref }}"
      - name: Get event_name
        run: echo "Event name ${{ github.event_name }}"
      - name: Get event.ref
        run: echo "Event ref ${{ github.event.ref }}"


  conditional_run:
    # only when 'on push to master'
    if: github.event_name == 'push' &&  github.event.ref == 'refs/heads/master'
    runs-on: ubuntu-20.04
    needs: detection
    steps:
      - name: Message
        run: echo "I have been triggered"
